
button{
    font-family: 'Montserrat';
    margin-left: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
    color: rgb(143, 58, 143);
    border-radius: 18px;
    padding: 10px;
    transition: opacity 0.05s, background-color 0.2s, color 0.2s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(143, 58, 143);
    color: white;
}
button:active{
    opacity: 0.8;
}
h1{
    font-family: Arial;
    color: rgb(143, 58, 143);
    margin-left: 70px;
}
p{
    font-family: Arial;
    color: rgb(143, 58, 143);
    margin-left: 70px;
    line-height: 50px;
}
.header-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(143, 58, 143);
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
    
}
.buttons-div{
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.hopepsy-logo-button{
    position: absolute;
    left: 40px;
    top: 7px;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.hopepsy-logo-button:hover{
    background-color: white;
    color: rgb(143, 58, 143);
}
.about-me-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 170px;
}
.about-me-p{
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
}
.manana2-img{
    width: 50%;
    border-radius: 100px;
    border: 5px solid purple;
    margin-left: 200px;
}
.nadezhda-atanasova-span{
    font-weight: bold;
    font-size: 40px;
}