body{
    height: 1000px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
button{
    font-family: 'Montserrat';
    margin-left: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
    color: rgb(143, 58, 143);
    border-radius: 18px;
    padding: 10px;
    transition: opacity 0.05s, background-color 0.2s, color 0.2s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(143, 58, 143);
    color: white;
}
button:active{
    opacity: 0.8;
}
h1{
    font-family: Montserrat;
    color: rgb(143, 58, 143);
}
h2{
    font-family:Montserrat;
    color: rgb(143, 58, 143);
}
h3{
    font-family:Montserrat;
    color: rgb(143, 58, 143);
}
p{
    font-family: Montserrat;
    color: rgb(143, 58, 143);
}
.header-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(143, 58, 143);
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
}
.buttons-div{
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.hopepsy-logo-button{
    position: absolute;
    left: 40px;
    top: 7px;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.hopepsy-logo-button:hover{
    background-color: white;
    color: rgb(143, 58, 143);
}
.blog-previews{
    margin-top: 90px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px; 
    column-gap: 30px;
}
.article{
    border: 2px solid purple;
    border-radius: 20px;
    padding: 0;
}
img{
    display: block;
    width: 80%;
    height: 185px;
    border: 2px solid purple;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.description{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    height: 150px;
    text-align: center;
}
.title{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 50px;
}
.date{
    font-size: 15px;
    text-align: center;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline purple;
}.link:active{
    opacity: 50%;
}
.hopepsy-logo-button-mobile{
    font-family: 'Dancing Script';
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.buttons-div-mobile{
    display: none;
}
.events-button-mobile, .about-me-button-mobile, .blog-button-mobile, .contacts-button-mobile{
    display: none;
}

@media only screen and (max-width: 1024px){
    /*header*/
    button{
        font-family: 'Montserrat';
        margin: 0;
        margin-left: 0;
        border: none;
        background-color: rgb(143, 58, 143);
        font-size: 14px;
        color: white;
        border-radius: 18px;
        padding: 6px;
    }
    .header-div{
        display: none;
    }
    .header-div-mobile{
        border-bottom: 1px solid rgb(143, 58, 143);
    }
    .hopepsy-logo-link-mobile{
        text-decoration:none ;
    }
    .buttons-div-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        margin: 20px;
    }
    .events-button-mobile, .about-me-button-mobile, .blog-button-mobile, .contacts-button-mobile{
        display: inline-block;
    }
    .hopepsy-logo-button-mobile{
        font-family: 'Dancing Script';
        font-size: 60px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    /*header*/

    .blog-previews{
        display: block;
        margin-top: 30px;
    }
    .article{
        margin-bottom: 30px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 23px;
    }
    .title{
        height: auto;
    }
    .description{
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
}