button{
    font-family: 'Montserrat';
    margin-left: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
    color: rgb(143, 58, 143);
    border-radius: 18px;
    padding: 10px;
    transition: opacity 0.05s, background-color 0.2s, color 0.2s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(143, 58, 143);
    color: white;
}
button:active{
    opacity: 0.8;
}
h1{
    font-family: Montserrat;
    color: rgb(143, 58, 143);
}
h2{
    font-family:Montserrat;
    color: rgb(143, 58, 143);
}
h3{
    font-family:Montserrat;
    color: rgb(143, 58, 143);
}
p{
    font-family: Montserrat;
    color: rgb(143, 58, 143);
}
.header-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(143, 58, 143);
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
    
}
.buttons-div{
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.hopepsy-logo-button{
    position: absolute;
    left: 40px;
    top: 7px;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.hopepsy-logo-button:hover{
    background-color: white;
    color: rgb(143, 58, 143);
}
.page-layout{
    margin-top: 120px;
    align-items: center;
}
.title{
    font-size: 40px;
    text-align: center;
    width: 100%;
}
.cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 30px;
}
.description{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.hopepsy-logo-button-mobile{
    font-family: 'Dancing Script';
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.buttons-div-mobile{
    display: none;
}
.events-button-mobile, .about-me-button-mobile, .blog-button-mobile, .contacts-button-mobile{
    display: none;
}

@media only screen and (max-width: 1024px){
    /*header*/
    button{
        font-family: 'Montserrat';
        margin: 0;
        margin-left: 0;
        border: none;
        background-color: rgb(143, 58, 143);
        font-size: 14px;
        color: white;
        border-radius: 18px;
        padding: 6px;
    }
    .header-div{
        display: none;
    }
    .header-div-mobile{
        border-bottom: 1px solid rgb(143, 58, 143);
    }
    .hopepsy-logo-link-mobile{
        text-decoration:none ;
    }
    .buttons-div-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        margin: 20px;
    }
    .events-button-mobile, .about-me-button-mobile, .blog-button-mobile, .contacts-button-mobile{
        display: inline-block;
    }
    .hopepsy-logo-button-mobile{
        font-family: 'Dancing Script';
        font-size: 60px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    /*header*/

    .page-layout{
        margin-top: 30px;
    }

    .title{
        margin: 0;
        width: 100%;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .cover{
        width: 80%;
        margin-bottom: 30px;
    }
    .description{
        font-size: 20px;
        width: 95%;
    }
}